<!-- Hero Section-->
 <section class="hero" >
    <div class="hero-content">
        <h1>Welcome to our coffee workshop!</h1>
        <p>Want to be a coffee master?</p>
        <button class="cta-button" (click)="openModal('Latte Art Workshop')">Book Now</button>
    </div>
 </section>

<!-- Services Section-->
 <section class="services" id="services">
    <h2>Our services</h2>
    <div class="services-cards">
        <div *ngFor="let service of services">
            <app-service-card [service]="service" (openBooking)="openModal($event)"></app-service-card>
        </div>
    </div>
 </section>

 <!-- About Us Section-->
  <section class="about" id="about">
    <div class="about-content">
        <img src="assets/image/about-us.jpg" alt="About Us">
        <div class="about-text">
            <h2>About Spresso Coffee & Co</h2>
            <p>At Spresso Coffee & Co, we believe that coffee is not just a beverage, but a journey that brings people together and creates memorable moments. Our mission is to offer more than just a cup of coffee; we aim to provide an exceptional coffee experience in every sip. From sourcing the finest beans to perfecting our brewing techniques, we are dedicated to delivering rich, full-bodied flavors that will transport you to the heart of coffee culture.<br><br>
                
                Whether you're here to indulge in a freshly brewed cup, discover the nuances of a pour-over, or experiment with creating stunning latte art, Spresso Coffee & Co is dedicated to making every coffee moment memorable. Join us for a journey through coffee, and let us share our passion with you in every cup.</p>
        </div>
    </div>
  </section>

  <!-- Contact Us Section-->
   <section class="contact" id="contact">
        <app-contact (contactSubmitted)="onContactSubmitted($event)"></app-contact>
   </section>

<!-- Modals -->
<app-booking-modal 
    *ngIf="isModalOpen" 
    [isOpen]="isModalOpen" 
    [selectedService]="selectedService" 
    (closeModal)="closeModal()"
    (confirmBooking)="onBookingConfirmed($event)">
</app-booking-modal>

<app-confirmation-modal
    *ngIf="isConfirmationModalOpen"
    [isConfirmationModalOpen]="isConfirmationModalOpen"
    [firstName]="bookingDetails?.firstName"
    [lastName]="bookingDetails?.lastName"
    [email]="bookingDetails?.email"
    [phoneNumber]="bookingDetails?.phonenumber"
    [availability]="bookingDetails?.availability"
    (closeConfirmationModal)="closeConfirmationModal()">
</app-confirmation-modal>

<app-contact-form-modal
    *ngIf="isContactFormModalOpen"
    [isContactFormModalOpen]="isContactFormModalOpen"
    [firstName]="bookingDetails?.firstName"
    [lastName]="bookingDetails?.lastName"
    [email]="bookingDetails?.email"
    [phoneNumber]="bookingDetails?.phonenumber"
    (closeContactFormModal)="closeContactFormModal()">
</app-contact-form-modal>
